* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
}
.navbar__brand {
  width: 100px;
  height: 100%;
}
.brand__logo {
  width: 100%;
  height: 100%;
}
.language__drop__down {
  background: transparent;
  border: none;
  color: white;
}
.language__drop__down:focus {
  outline: none;
}
.dropdown__container {
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
}
.signin__button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}
.navbara__nav__items {
  display: flex;
  gap: 5px;
}
.hero_bg_image_container {
  width: 100%;
  height: 75vh;
}
.hero_bg_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero_bg_overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 75vh;
  background: rgba(0, 0, 0, 0.4);
}
.hero_card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 30%;
}
@media (min-width: 768px) {
  .hero_bg_image_container {
    height: 100vh;
  }
  .hero_bg_overlay {
    height: 100vh;
  }
  .hero_card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero_title {
    font-weight: 600;
    font-size: 2rem;
  }
  .hero_subtitle,
  .hero_description {
    font-weight: 400;
    font-size: 1rem;
  }
  .hero_title {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .navbar {
    padding: 2% 5%;
  }
  .navbar__brand {
    width: 150px;
  }
  .signin__button {
    padding: 10px 20px;
    font-size: 18px;
  }
  .dropdown__container {
    padding: 10px 5px;
  }
  .navbara__nav__items {
    gap: 30px;
  }
}
@media (min-width: 1254px) {
}
